@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 2334px;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  margin-left: 0%;
  margin-top: 0%;
}

.button__megazine {
  height: 30px;
  width: 142px;
  background-color: #919623;
  position: absolute;
  top: 33px;
  right: 115px;
  border-radius: 2px;
  display: none;
  justify-content: center;
  padding-top: 9px;
  z-index: 3;
}
#check_vol {
  display: none;
}

#check_vol:checked ~ .button__megazine {
  display: flex;
  transition: 0.2s;
}
.vol1 {
  font-family: "AppleSDGothicNeoM00";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
.vol1:hover {
  color: #494949;
}

.box__top {
  height: 174px;
  width: 100%;
  background-color: #f2f2f2;
  position: absolute;
  margin-top: 0%;
}
.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box__top_right {
  position: absolute;
  height: 33px;
  width: 388px;
  background-color: rgba(176, 177, 150, 0.1);
  border-radius: 300px;
  right: 9.72%;
  bottom: 11.4%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.span__menu {
  font-family: "Cafe24Ssurround";
  color: #494949;
  font-size: 16px;
}
.span__menu:hover {
  color: #919623;
}

.column__menu {
  padding: 8px 32px 6px 32px;
}
.banner {
  position: absolute;
  width: 1440px;
  height: 332px;

  top: 175px;
}
.font_info_checked {
  color: #919623;
}

.line {
  position: absolute;
  width: 68px;
  height: 3px;

  left: 43px;
  bottom: 0%;
  z-index: 9999;
  background: #919623;
  border-radius: 3px;
}
.title_info {
  position: absolute;
  width: 378px;
  height: 68px;
  left: 10.6%;
  top: 587px;

  font-family: "AppleSDGothicNeoEB00";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;

  color: #494949;
}

.title_info2 {
  position: absolute;
  width: 378px;
  height: 68px;
  left: 10.6%;
  top: 1787px;

  font-family: "AppleSDGothicNeoEB00";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 50px;

  color: #494949;
}
/*소개 박스*/
.box__intro {
  position: absolute;
  width: 63.125%;
  height: 922px;
  right: 10.6%;
  top: 700px;
}
.info_img1 {
  position: absolute;
  width: 276px;
  height: 282px;
  left: 8.36%;
  top: 0px;

  background: url("source/info_img1.svg");
}

.font_h2 {
  font-family: "AppleSDGothicNeoB00";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  width: 462px;
  color: #494949;
}

.where1 {
  position: absolute;
  top: 16px;
  right: 8.36%;
}

.font_h3 {
  font-family: "AppleSDGothicNeoM00";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  width: 462px;

  color: rgba(85, 85, 85, 0.8);
}

.h3_where1 {
  position: absolute;
  top: 58px;
  right: 8.36%;
}

.font_p {
  font-family: "AppleSDGothicNeoM00";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  width: 462px;
  height: 126px;

  color: #828282;
}

.p_where1 {
  position: absolute;
  top: 119px;
  right: 8.36%;
}

.line1 {
  position: absolute;
  width: 100%;
  height: 0px;

  top: 302px;

  border: 1px solid #d9d9d9;
}

/*인간의 모든 놀이를 담다*/
.info_img2 {
  position: absolute;
  width: 231.02px;
  height: 209px;
  right: 8.36%;
  top: 363px;

  background: url("source/info_img2.svg");
}

.where2 {
  position: absolute;
  top: 342px;
  left: 8.36%;
}
.h3_where2 {
  position: absolute;
  top: 384px;
  left: 8.36%;
}
.p_where2 {
  position: absolute;
  top: 445px;
  left: 8.36%;
}
.line2 {
  position: absolute;
  width: 100%;
  height: 0px;

  top: 628px;

  border: 1px solid #d9d9d9;
}

/*우리는 모두 놀아야 한다.*/

.info_img3 {
  position: absolute;
  width: 241px;
  height: 224px;
  left: 8.36%;
  top: 685px;

  background: url("source/info_img3.svg");
}

.where3 {
  position: absolute;
  top: 670px;
  right: 8.36%;
}
.h3_where3 {
  position: absolute;
  top: 712px;
  right: 8.36%;
}
.p_where3 {
  position: absolute;
  top: 773px;
  right: 8.36%;
}
.line3 {
  position: absolute;
  width: 79.88%;
  height: 0px;
  left: 50%;
  transform: translateX(-50%);
  top: 1720px;

  border: 1px solid #d9d9d9;
}

.info_ch {
  position: absolute;
  width: 63.125%;
  height: 291px;
  right: 10.6%;
  top: 1800px;
  display: flex;
  justify-content: space-between;
}

#ch1 {
  width: 216px;
  height: 291px;

  background: url("source/info_ch1.svg");
}

#ch2 {
  width: 216px;
  height: 291px;
  background: url("source/info_ch2.svg");
}

#ch3 {
  width: 216px;
  height: 291px;
  background: url("source/info_ch3.svg");
}

#jiltang {
  color: #919623;
}

.footer {
  position: absolute;
  width: 100%;
  height: 80px;
  top: 2334px;
  background: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}
