@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  height: 4275px;
  width: 100%;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* 헤더 */

.box__header {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background-color: #f2f2f2;
  z-index: 10;
  border-bottom-style: solid;
  border-bottom-color: #d9d9d9;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#basic_box {
  width: 70px;
  height: 48px;
  padding-top: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#content_box {
  width: 100px;
  height: 48px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#story_box {
  width: 70px;
  height: 48px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#memory_box {
  width: 100px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  background-color: #919623;
  width: 100px;
  height: 3.5px;
  border-radius: 3px;
  position: absolute;
  top: 47.5px;
}

.BASIC {
  color: #919623;

  font-family: "Cafe24 Ssurround";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.font__menu {
  font-family: "Cafe24 Ssurround";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  color: #494949;
}
.font__menu:hover {
  color: #919623;
}
#logo_small {
  width: 70px;
  height: 34px;
}
#boxbox {
  width: 389px;
  height: 50px;
  display: block;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button__megazine {
  height: 30px;
  width: 142px;
  background-color: #919623;
  position: absolute;
  top: 40px;
  right: 14.2%;
  border-radius: 2px;
  display: none;
  justify-content: center;
  padding-top: 9px;
  z-index: 3;
}
#check_vol {
  display: none;
}

#check_vol:checked ~ .button__megazine {
  display: flex;
  transition: 0.2s;
}
.vol1 {
  font-family: "AppleSDGothicNeoM00";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
.vol1:hover {
  color: #494949;
}
.box__top_right {
  height: 31px;
  width: 388px;

  padding-top: 2px;
  background-color: rgba(176, 177, 150, 0.1);
  border-radius: 300px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.span__menu {
  font-family: "Cafe24Ssurround";
  color: #494949;
  font-size: 16px;
  text-decoration: none;
}
.span__menu:hover {
  color: #919623;
}

.title_big {
  font-family: "AppleSDGothicNeoB00";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  position: absolute;
  width: 344px;
  height: 56px;
  left: 10.5%;
  top: 60px;
  color: #000000;
}
.box_article_info {
  width: 262px;
  height: 18px;
  position: absolute;
  left: 10.6%;
  top: 162px;
  display: flex;
  justify-content: space-between;
}
.font_article_info {
  font-family: "AppleSDGothicNeoL00";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #424242;
}
.article_line {
  position: absolute;
  width: 90%;
  height: 0px;
  left: 5%;
  top: 210px;

  border: 0.5px solid #d9d9d9;
}
.article_mainimg {
  position: absolute;
  width: 78.8%;
  height: 498px;
  left: 10.6%;
  top: 230px;
  background: url("source/mafia_basic/a1_img1.jpg");
  object-fit: cover;
}
.title_small {
  position: absolute;
  width: 623px;
  height: 42px;
  left: 10.6%;
  top: 745px;

  font-family: "AppleSDGothicNeoM00";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */

  letter-spacing: -0.05em;

  color: #000000;
}
.title_color {
  position: absolute;
  width: 288px;
  height: 35px;
  left: 10.6%;
  top: 810px;

  font-family: "AppleSDGothicNeoM00";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  /* identical to box height, or 175% */

  letter-spacing: -0.05em;

  color: #4c5000;
}

.title_color::after {
  content: "";
  width: 288px;
  height: 8px;

  background: rgba(145, 150, 35, 0.3);
  position: absolute;
  bottom: 10px;
  left: 0px;
  z-index: -1;
}
.article {
  position: absolute;
  width: 78.8%;
  height: 140px;
  left: 10.6%;
  top: 887px;
  text-align: justify;
  font-family: "AppleSDGothicNeoM00";
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.188rem;
  letter-spacing: -0.05em;

  color: #555555;
}
