@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
body {
  height: 3130px;
  width: 100%;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

/* 헤더 */
.BASIC,
.font__menu,
.span__menu,
.btn__vol {
  transform: skew(-0.1deg);
}
.box__header {
  position: fixed;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 0px;
  background-color: #f2f2f2;
  z-index: 10;
  border-bottom-style: solid;
  border-bottom-color: #d9d9d9;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#basic_box {
  width: 70px;
  height: 48px;
  padding-top: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#content_box {
  width: 100px;
  height: 48px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#story_box {
  width: 70px;
  height: 48px;
  padding-top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#memory_box {
  width: 100px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.line {
  background-color: #919623;
  width: 100px;
  height: 3.5px;
  border-radius: 3px;
  position: absolute;
  top: 47.5px;
}

.MEMORY {
  color: #919623;

  font-family: "Cafe24Ssurround";

  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.font__menu {
  font-family: "Cafe24Ssurround";

  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  color: #494949;
}
.font__menu:hover {
  color: #919623;
}
#logo_small {
  width: 70px;
  height: 34px;
}
#boxbox {
  width: 389px;
  height: 50px;
  display: block;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button__megazine {
  height: 30px;
  width: 142px;
  background-color: #919623;
  position: absolute;
  top: 40px;
  right: 14.2%;
  border-radius: 2px;
  display: none;
  justify-content: center;
  padding-top: 9px;
  z-index: 3;
}
#check_vol {
  display: none;
}

#check_vol:checked ~ .button__megazine {
  display: flex;
  transition: 0.2s;
}
.vol1 {
  font-family: "AppleSDGothicNeoM00";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}
.vol1:hover {
  color: #494949;
}
.box__top_right {
  height: 31px;
  width: 388px;

  padding-top: 2px;
  background-color: rgba(176, 177, 150, 0.1);
  border-radius: 300px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.span__menu {
  font-family: "Cafe24Ssurround";
  color: #494949;
  font-size: 16px;
  text-decoration: none;
}
.span__menu:hover {
  color: #919623;
}

/* 배너 이미지 */
.banner {
  position: absolute;
  width: 78.75%;
  height: 185px;
  left: 50%;
  transform: translateX(-50%);
  top: 92px;
}
#banner_img {
  width: 100%;
  height: 185px;
  object-fit: cover;
}

#category {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  top: 55px;

  font-family: "Alfa Slab One";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 48px;

  color: #f2f2f2;
}
#about_category {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  top: 107px;

  font-family: "AppleSDGothicNeoB00";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;

  color: #dadada;
}

/* 기사 박스 1 */

.box_article1 {
  position: absolute;
  width: 38%;
  height: 475px;
  left: 10.6%;
  top: 318px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

#memory_img1 {
  position: absolute;
  width: 96.43%;
  height: 353px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  object-fit: cover;
}

.font_tag {
  position: absolute;
  left: 10px;
  font-family: "AppleSDGothicNeoL00";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: #787878;
}

.box_article1 > .font_tag {
  top: 373px;
}

.font_title {
  position: absolute;

  left: 10px;

  font-family: "AppleSDGothicNeoM00";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #000000;
}

.box_article1 > .font_title {
  top: 401px;
}

.font_contents {
  position: absolute;

  left: 10px;

  font-family: "AppleSDGothicNeoL00";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.box_article1 > .font_contents {
  bottom: 10px;
}

/* 기사박스2*/
.box_article2 {
  position: absolute;
  width: 38%;
  height: 732px;
  right: 10.6%;
  top: 317px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
#memory_img2 {
  position: absolute;
  width: 96.43%;
  height: 610px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  object-fit: cover;
}
.box_article2 > .font_tag {
  top: 630px;
}
.box_article2 > .font_title {
  top: 658px;
}
.box_article2 > .font_contents {
  bottom: 10px;
}

/* 기사박스3*/
.box_article3 {
  position: absolute;
  width: 38%;
  height: 732px;
  left: 10.6%;
  top: 828px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
#memory_img3 {
  position: absolute;
  width: 96.43%;
  height: 610px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  object-fit: cover;
}
.box_article3 > .font_tag {
  top: 630px;
}
.box_article3 > .font_title {
  top: 657px;
}
.box_article3 > .font_contents {
  bottom: 10px;
}

/* 기사박스4*/
.box_article4 {
  position: absolute;
  width: 38%;
  height: 345px;
  right: 10.6%;
  top: 1086px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
#memory_img4 {
  position: absolute;
  width: 96.43%;
  height: 223px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  object-fit: cover;
}
.box_article4 > .font_tag {
  top: 243px;
}
.box_article4 > .font_title {
  top: 270px;
}
.box_article4 > .font_contents {
  bottom: 10px;
}

/* 기사박스5*/
.box_article5 {
  position: absolute;
  width: 38%;
  height: 572px;
  left: 10.6%;
  top: 1599px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
#memory_img5 {
  position: absolute;
  width: 96.43%;
  height: 450px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  object-fit: cover;
}
.box_article5 > .font_tag {
  top: 470px;
}
.box_article5 > .font_title {
  top: 498px;
}
.box_article5 > .font_contents {
  bottom: 10px;
}

/* 기사박스6*/
.box_article6 {
  position: absolute;
  width: 38%;
  height: 472px;
  right: 10.6%;
  top: 1469px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
#memory_img6 {
  position: absolute;
  width: 96.43%;
  height: 350px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  object-fit: cover;
}
.box_article6 > .font_tag {
  top: 370px;
}
.box_article6 > .font_title {
  top: 398px;
}
.box_article6 > .font_contents {
  bottom: 10px;
}

/* 기사박스7*/
.box_article7 {
  position: absolute;
  width: 38%;
  height: 604px;
  left: 10.6%;
  top: 2212px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
#memory_img7 {
  position: absolute;
  width: 96.43%;
  height: 476px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  object-fit: cover;
}
.box_article7 > .font_tag {
  top: 496px;
}
.box_article7 > .font_title {
  top: 524px;
}
.box_article7 > .font_contents {
  bottom: 10px;
}

/* 기사박스8*/
.box_article8 {
  position: absolute;
  width: 38%;
  height: 640px;
  right: 10.6%;
  top: 1980px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
#memory_img8 {
  position: absolute;
  width: 96.43%;
  height: 510px;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  object-fit: cover;
}
.box_article8 > .font_tag {
  top: 498px;
}
.box_article8 > .font_title {
  top: 528px;
}
.box_article8 > .font_contents {
  bottom: 10px;
}

.footer {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0%;
  top: 3055px;
  background: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#m_img {
  position: absolute;
  width: 515px;
  height: 515px;
  right: 10%;
  top: 2620px;

  background: url("source/memory_bottom_img.svg");
}

/* 모달창 1*/
.modal1 {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.modal_content {
  width: 113.4rem;
  height: 63rem;
  background: #ebe9e9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);

  cursor: default;
}

.m1_img1 {
  position: absolute;
  width: 47.6rem;
  height: 47.6rem;
  left: 4.5rem;
  top: 4.5rem;
}
.m1_img2 {
  position: absolute;
  width: 78.4rem;
  height: 55rem;
  right: 4.5rem;
  top: 4rem;
}
.close_button {
  position: absolute;
  width: 1.9rem;
  height: 2rem;
  right: 4.5rem;
  top: 4.5rem;
  cursor: pointer;
}

/* 모달창 2*/
.modal2 {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.m2_img1 {
  position: absolute;
  width: 47.6rem;
  height: 47.6rem;
  left: 4.5rem;
  top: 4.5rem;
}
.m2_img2 {
  position: absolute;
  width: 78rem;
  height: 55rem;
  right: 4.5rem;
  top: 4rem;
}
.close_button {
  position: absolute;
  width: 1.9rem;
  height: 2rem;
  right: 4.5rem;
  top: 4.5rem;
  cursor: pointer;
}

/* 모달창 3*/
.modal3 {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.m3_img1 {
  position: absolute;
  width: 47.6rem;
  height: 47.6rem;
  left: 4.5rem;
  top: 4.5rem;
}
.m3_img2 {
  position: absolute;
  width: 78.4rem;
  height: 56.5rem;
  right: 4.5rem;
  top: 4rem;
}
.close_button {
  position: absolute;
  width: 1.9rem;
  height: 2rem;
  right: 4.5rem;
  top: 4.5rem;
  cursor: pointer;
}

/* 모달창 4*/

.modal4 {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.m4_img1 {
  position: absolute;
  width: 44.1rem;
  height: 47.6rem;
  left: 4.5rem;
  top: 4.5rem;
}

.close_button {
  position: absolute;
  width: 1.9rem;
  height: 2rem;
  right: 4.5rem;
  top: 4.5rem;
  cursor: pointer;
  z-index: 3;
}

.rolling {
  position: absolute;
  width: 45.9rem;
  height: 52rem;
  right: 7.2rem;
  top: 6.5rem;

  overflow: hidden;
}
.안보이는영역 {
  height: 52rem;
  width: 300%;
  list-style: none;
  padding-left: 0%;
  margin-top: 0%;
}
.m4_img2 {
  width: 45.9rem;
  height: 52rem;
  list-style: none;
  float: left;
}
.m4_img3 {
  list-style: none;
  margin-top: 0;
  width: 45.9rem;
  height: 52rem;
  border: 0;
  margin-top: 0px;
  padding: 0px;
}
.roll_left {
  z-index: 3;
  cursor: pointer;
  border: none;
  position: absolute;
  width: 5rem;
  height: 8.3rem;
  left: 54.5rem;
  top: 27.4rem;
  background: url("source/mafia_memory/left.svg");
}
.roll_right {
  z-index: 3;
  cursor: pointer;
  border: none;
  position: absolute;
  width: 5rem;
  height: 8.3rem;
  right: 1.4rem;
  top: 27.4rem;
  background: url("source/mafia_memory/right.svg");
}
.m4_img4 {
  position: absolute;
  width: 82.3rem;
  height: 55rem;
  top: 4.5rem;
  right: 4.5rem;
}

/* 모달창 5*/
.modal5 {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.m5_img1 {
  position: absolute;
  width: 31.6rem;
  height: 47.6rem;
  left: 4.5rem;
  top: 4.5rem;
}

.close_button {
  position: absolute;
  width: 1.9rem;
  height: 2rem;
  right: 4.5rem;
  top: 4.5rem;
  cursor: pointer;
  z-index: 3;
}

.rolling_m5 {
  position: absolute;
  width: 45.9rem;
  height: 52rem;
  right: 10.9rem;
  top: 6.5rem;

  overflow: hidden;
}
.안보이는영역_m5 {
  height: 52rem;
  width: 300%;
  list-style: none;
  padding-left: 0%;
  margin-top: 0%;
}
.m5_img2 {
  width: 45.9rem;
  height: 52rem;
  list-style: none;
  float: left;
}
.m5_img3 {
  list-style: none;
  margin-top: 0;
  width: 45.9rem;
  height: 52rem;
  border: 0;
  margin-top: 0px;
  padding: 0px;
}
.roll_left_m5 {
  z-index: 3;
  cursor: pointer;
  border: none;
  position: absolute;
  width: 5rem;
  height: 8.3rem;
  left: 45.5rem;
  top: 27.4rem;
  background: url("source/mafia_memory/left.svg");
}
.roll_right_m5 {
  z-index: 3;
  cursor: pointer;
  border: none;
  position: absolute;
  width: 5rem;
  height: 8.3rem;
  right: 1.4rem;
  top: 27.4rem;
  background: url("source/mafia_memory/right.svg");
}
.m5_img4 {
  position: absolute;
  width: 93.7rem;
  height: 55rem;
  top: 4.5rem;
  right: 4.5rem;
}
/* 모달창 6*/
.modal6 {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.m6_img1 {
  position: absolute;
  width: 47.6rem;
  height: 47.6rem;
  left: 4.5rem;
  top: 4.5rem;
}
.m6_img2 {
  position: absolute;
  width: 77.7rem;
  height: 56.5rem;
  right: 4.5rem;
  top: 4rem;
}
.close_button {
  position: absolute;
  width: 1.9rem;
  height: 2rem;
  right: 4.5rem;
  top: 4.5rem;
  cursor: pointer;
}

/* 모달창 7*/
.modal7 {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.m7_img1 {
  position: absolute;
  width: 57.5rem;
  height: 47.6rem;
  left: 4.5rem;
  top: 4.5rem;
}
.m7_img2 {
  position: absolute;
  width: 67.7rem;
  height: 55rem;
  right: 4.5rem;
  top: 4rem;
}
.close_button {
  position: absolute;
  width: 1.9rem;
  height: 2rem;
  right: 4.5rem;
  top: 4.5rem;
  cursor: pointer;
}

/* 모달창 7*/
.modal8 {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: none;
}

.m8_img1 {
  position: absolute;
  width: 50.2rem;
  height: 47.6rem;
  left: 4.5rem;
  top: 4.5rem;
}
.m8_img2 {
  position: absolute;
  width: 75.2rem;
  height: 55rem;
  right: 4.5rem;
  top: 4rem;
}
.close_button {
  position: absolute;
  width: 1.9rem;
  height: 2rem;
  right: 4.5rem;
  top: 4.5rem;
  cursor: pointer;
}
